md-sidenav-container {
    height: 100%;    
    background-color: black;
}

md-sidenav {
    width: 20%;
    min-width: 160px;
}

button {
    margin-top: 16px;
    width: 100px;
}

hr {
    margin: 20px 0;
}

md-input-container {
    margin-top: 16px;
    width: 100px;
}

gol-universe {
    margin: 46px 0;
}

.sidenavButton {
    position: absolute;
    left: 0;
    transition:left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);    
    transition-delay: 0.5s;
    top: 2px;
    margin: 0;
    width: 30px;
    background-color: #222;
    z-index: 1;    
}

.sidenavButton:hover {
    background-color: white;
}

.sidenavButton-hidden {
    left: -100px;
    transition: none;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}