<button md-raised-button class="sidenavButton" (click)="openSideNav()" [class.sidenavButton-hidden]="sideNavOpen">MENU</button>    
<md-sidenav-container (backdropClick)="onSideNavClose()">
    <md-sidenav disableClose mode="over" [opened]="sideNavOpen">
        <div class="options">
            <hr>
            <button md-raised-button (click)="runUniverse()">RESUME</button>
            <button md-raised-button (click)="clearUniverse()">CLEAR</button>
            <button md-raised-button (click)="restartUniverse()">POPULATE</button>
            <hr>
            <md-input-container>
                <input type="number" min="5" max="70" mdInput placeholder="Universe Width" [(ngModel)]="noCols" [disabled]="!empty" (change)="clearUniverse()">
            </md-input-container>
            <md-input-container>
                <input type="number" min="5" max="36" mdInput placeholder="Universe Height" [(ngModel)]="noRows" [disabled]="!empty" (change)="clearUniverse()">
            </md-input-container>
            <md-input-container>
                <input type="number" min="10" max="30" mdInput placeholder="Cell Size" [(ngModel)]="cellSize">
            </md-input-container>
            <hr>
            <md-checkbox [(ngModel)]="showDecay">Show Decay</md-checkbox>
        </div>
    </md-sidenav>
    <gol-universe
        #universe
        [noCols]="noCols"
        [noRows]="noRows"
        [cellSize]="cellSize"
        [showDecay]="showDecay">
    </gol-universe>
</md-sidenav-container>
