@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
// @import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
// @import '~@angular/material/core/theming/prebuilt/purple-green.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

gol-root {
    height: 100%;
}